#rightpic{
	float: right;
	margin-top: 30px;
	margin-right: 10px;
	position: relative;
	z-index: -1;
 }
 #intro{
	width: 780px;
	margin: 0px auto;
 }
 h3{
	margin 0;
 }
 body {
	background-color:#D1D5D8;
	background-image:url(https://webmail.infowest.com/roundcube/skins/larry/images/linen.jpg?v=0382.14157);
	background-position:initial initial;
	background-repeat:repeat repeat;
	color:#333333;
  }
  h1{
	background-color: grey;
	color: #76EE00;
	border-radius: 15px;
	text-align: center;
  }